<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" [value]="valor1" (input)="onValor($event, 1)">
    <input type="text" [value]="valor2" (input)="onValor($event, 2)">
    <input type="text" [value]="resultado">

    <app-hijo
        [valor1] = "valor1"
        [valor2] = "valor2"
        (respuesta)="onResponder($event)"
        (limpiar)="onLimpiar($event)"
    ></app-hijo>
</body>
</html>